@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;800&display=swap');

body{
    margin:0;
    overflow:hidden;
    background:transparent;
    font-family:'Orbitron',sans-serif;
}

#leaderboard{
    width:820px;
    background:#07111b;
    border:2px solid #18364d;
    border-radius:8px;
    overflow:hidden;
    box-shadow:0 0 25px rgba(0,0,0,.5);
}

.titlebar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:linear-gradient(90deg,#12344b,#1d4f6d);

    padding:10px 14px;

    border-bottom:2px solid #2d688d;
}

.series{
    color:white;
    font-size:18px;
    font-weight:800;
    letter-spacing:1px;
}

.live{
    background:#16d66b;
    color:#fff;
    font-size:12px;
    font-weight:700;
    padding:5px 10px;
    border-radius:4px;
}

.header,
.row{
    display:grid;

    grid-template-columns:
    50px
    1fr
    170px
    80px
    120px
    90px;

    align-items:center;
}

.header{
    background:#0e1f2d;
    color:#5ed8ff;

    padding:10px 12px;

    font-size:13px;
    font-weight:700;

    border-bottom:1px solid #244861;
}

.row{
    padding:9px 12px;

    color:#fff;
}